@import url("./styles/Todo.css");

/* Light theme */
.light-theme .home {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.light-theme .home h1,
.light-theme .home p {
  color: #ff9090;
  font-size: 30px;
  text-align: center;
}

.light-theme .button {
  background-color: #1890ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
}

.light-theme .home body {
  background-color: #ff8888;
  font-family: 'helvetica', sans-serif;
  margin-top: 20%;
}

.light-theme .home h1 {
  font-size: 60px;
}

.light-theme .home span {
  background-color: #000000;
  color: rgb(255, 110, 110);
  padding: 6px;
  border-radius: 5px;
}

.light-theme .home p {
  letter-spacing: 12px;
}
/* TODO: Use theme files for separate pages and add base css file */
.light-theme .home div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.8);
}

.light-theme .card {
  background-color: #fff;
}


/* Dark theme */
.dark-theme .home {
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.dark-theme .card {
  background-color: #5a5a5a;
}

.dark-theme .home h1, .dark-theme .home p {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.dark-theme .button {
  background-color: #fadb14;
  color: #000;
  border: none;
  padding: 10px 20px;
}

.dark-theme .home body {
  background-color: #000;
  font-family: 'helvetica', sans-serif;
  margin-top: 20%;
}

.dark-theme .home h1 {
  font-size: 60px;
}

.dark-theme .home span {
  background-color: orange;
  color: #000;
  padding: 6px;
  border-radius: 5px;
}

.dark-theme .home p {
  letter-spacing: 12px;
}
