/* Light theme */
.light-theme {
  background-color: #ffffff;
}

.light-theme h1 {
  font-size: 28px;
  color: #000000;
}

.light-theme .button {
  background-color: #1890ff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
}

/* Dark theme */
.dark-theme {
  background-color: #7a7a7a;
}

.dark-theme h1 {
  font-size: 28px;
  color: #ffffff;
  background-color: #7e7e7e;
}

.dark-theme .button {
  background-color: #fadb14;
  color: #000000;
  border: none;
  padding: 10px 20px;
}

